# Based on:
# https://github.com/cuties-social/cuties-social-nixfiles/blob/14593a3014c32ce121529009d8d6564e45dd7e99/.github/workflows/build.yml
name: Build
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
defaults:
  run:
    shell: bash -euxo pipefail {0}
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  build:
    env:
      PR_JOB_SUMMARY: pr-job-summary
    strategy:
      matrix:
        flake:
          - name: framework
            attr: nixosConfigurations.framework.config.system.build.toplevel
            system: x86-64-linux
            runner: ubuntu-24.04
          - name: cm3588
            attr: nixosConfigurations.cm3588.config.system.build.toplevel
            system: aarch64-linux
            runner: ubuntu-24.04-arm
          - name: nodejs
            attr: devShells.x86_64-linux.nodejs
            system: x86-64-linux
            runner: ubuntu-24.04
          - name: kunkun
            attr: nixosConfigurations.kunkun.config.system.build.toplevel
            system: aarch64-linux
            runner: ubuntu-24.04-arm
          - name: lamma
            attr: darwinConfigurations.lamma.system
            system: aarch64-darwin
            runner: macos-26
    runs-on: ${{ matrix.flake.runner }}
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Relocate Nix store
        # ~60GB available on /mnt vs ~20GB on / for x86-64 runners
        if: matrix.flake.system == 'x86-64-linux'
        run: |
          sudo mkdir /nix /mnt/nix
          sudo mount --bind /mnt/nix /nix
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Generate GitHub token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: generate-github-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.GH_APP_KEY }}
          owner: tlvince
          repositories: nixos-config-secrets
      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          github_access_token: ${{ steps.generate-github-token.outputs.token }}
      - name: Set up public cache
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: tlvince-nixos-config
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Run flake check
        # All configurations are checked by default, so just run it in one
        # matrix build
        if: matrix.flake.name == 'framework'
        run: |
          CHECK_OUTPUT="${RUNNER_TEMP}/flake-check-output"
          nix flake check --all-systems | tee "$CHECK_OUTPUT"
          [[ -s $CHECK_OUTPUT ]] || echo "No issues found by 'nix flake check'." > "$CHECK_OUTPUT"
          echo -e "## Flake check\n\`\`\`\n$(<$CHECK_OUTPUT)\n\`\`\`" | tee -a "$GITHUB_STEP_SUMMARY" "${RUNNER_TEMP}/${PR_JOB_SUMMARY}" >/dev/null
      - name: Build
        run: |
          OUT_PATH="$(nix build ".#${{ matrix.flake.attr }}" --print-out-paths)"
          echo -e "\x1b[32;1mSuccessfully built .#${{ matrix.flake.attr }}\x1b[0m"
          echo -e "## Build ${{ matrix.flake.name }}\n\`$OUT_PATH\`" | tee -a "$GITHUB_STEP_SUMMARY" "${RUNNER_TEMP}/${PR_JOB_SUMMARY}" >/dev/null
      - name: Diff closures
        if: github.event_name == 'pull_request'
        run: |
          DIFF_OUTPUT="${RUNNER_TEMP}/nix-store-diff-closures-output"
          nix store diff-closures "github:${GITHUB_REPOSITORY}#${{ matrix.flake.attr }}" ".#${{ matrix.flake.attr }}" --no-write-lock-file | tee "$DIFF_OUTPUT"
          [[ -s "$DIFF_OUTPUT" ]] && perl -i -pe 's/\x1b\[[0-9;]*m//g' "$DIFF_OUTPUT" || echo "No changes found" | tee "$DIFF_OUTPUT"
          echo -e "## Closures difference\n\`\`\`\n$(<$DIFF_OUTPUT)\n\`\`\`" | tee -a "$GITHUB_STEP_SUMMARY" "${RUNNER_TEMP}/${PR_JOB_SUMMARY}" >/dev/null
      - name: Add job summary to PR
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        if: github.event_name == 'pull_request'
        with:
          script: |
            const { readFile } = require('node:fs/promises')
            const comment = require('.github/scripts/comment')
            const header = '# ${{ matrix.flake.name }}'
            const body = await readFile('${{ runner.temp }}/${{ env.PR_JOB_SUMMARY }}', { encoding: 'utf8' })
            await comment({ github, context, header, body })
