name: Run TODO to Issue
on:
  push:
    branches:
      - master
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      issues: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: TODO to Issue
        uses: alstr/todo-to-issue-action@64aca8fda7023259aada83ba44ad988c4c443657 # v5
        with:
          CLOSE_ISSUES: true
          ESCAPE: false
          INSERT_ISSUE_URLS: true
          ISSUE_TEMPLATE: "{{ body }}\n{{ url }}"
      - name: Commit and Push Changes
        run: |
          git add --all
          if [[ $(git status --porcelain) ]]; then
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git commit --message "ci: automatically added GitHub issue links to TODOs" --message "[skip ci]"
            git push origin master
          else
            echo "No changes to commit"
          fi
